body {
  font-family: 'Poppins';
  margin: 0;
}

#root {
  background-color: rgb(137, 218, 137);
  color: #54312f;
  padding: 50px 60px;
}

.app-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'header header'
    'sidebar content';
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  margin: 0 auto;
}

.app-wrapper .content {
  background-color: rgb(253, 250, 203);
  border-radius: 10px;
  grid-area: content;
}

.pageTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
