.header {
  background-color: rgb(106, 201, 106);
  border-radius: 10px;
  box-shadow: 0 -1px 4px rgb(13, 136, 13);
  grid-area: header;
  padding: 0 10px;
}

.header .logo {
  background: url('../../assets/img/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: auto;
}

.header img {
  border-radius: 10px;
  height: 100%;
}
